<a href="https://colab.research.google.com/github/aleizaguirre/Python/blob/main/Tarea_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving base_tarea.xls to base_tarea.xls

El comando para leer .xls lo busque en la web, tuve que hacerle varias modificaciones al original de la clase para que no me tire error. Cambie StringIO por BytesIO y elimine el .decode.

In [ ]:
import pandas as pd
import io
Datos = pd.read_excel(io.BytesIO(uploaded['base_tarea.xls']))
Datos

1.	Mostrar las primeras y últimas filas de la base

In [ ]:
Datos.head(3)

In [ ]:
Datos.tail(3)

2.	Obtener los tipos de datos de las variables.

In [ ]:
print(Datos.dtypes)

3. Mostrar las primeras y últimas filas de la base de 3 columnas que elija

In [ ]:
Datos.loc[0:3, ["Average Employees",	"Labor_Hours",	"date"]]

In [ ]:
print(Datos.index)
Datos.loc[1447:1450, ["Average Employees",	"Labor_Hours",	"date"]]

4.	Mostrar las estadísticas básicas de produccion

In [29]:
print(
 Datos["Production"].mean(),
 Datos["Production"].std(),
 Datos["Production"].min(),
 Datos["Production"].max()
)

679201.2268965517 4414922.445079227 0 111005549

5.	Insertar una columna en la quinta posición y llenala de valores NaN

In [41]:
import numpy as np

In [42]:
Datos.insert(4, "columna", np.nan)

In [ ]:
Datos.loc[0:3,["columna"]]

6.	Importar a un dataframe los datos saltando las primeras 10 filas.

In [ ]:
# No se como hacerlo. Encontre como leer un archivo (.xls o .csv) salteando ciertas filas, pero no se como
# transformar un un archivo .xls en un data frame con 10 filas menos. (Eso entendi que habia que hacer)

9.	Crear un subtotal de "Horas de trabajo" por ID

In [ ]:

Lab_H = Datos.groupby('ID')
tot_prod = Lab_H["Labor_Hours"].sum()
tot_prod

10.	Mostrar los valores para un ID de MSHA específico

In [ ]:
Datos[Datos.ID==102976]

11.	Mostrar aquellas observaciones en las que "Horas de trabajo" > 25000.

In [ ]:
Datos[Datos.Labor_Hours>25000]

12.	Encuentre todos los registros que incluyan dos identificaciones específicas de MSHA.

In [ ]:
Filtro=Datos["Company Type"].isin(["Operating Subsidiary", "Contractor"])
Datos[Filtro]

13.	Ordenar los registros por la columna “Horas de trabajo”

In [ ]:
Datos_ord = Datos.sort_values(by=["Labor_Hours"], ascending=False)
Datos_ord.head(5)

14.	Haga una lista en donde date esté entre febrero 2005 y noviembre 2006.

In [ ]:
selection = (Datos['date'] > '2005-2-1' ) & (Datos['date'] <= '2006-11-1')
Datos[selection]

15.	Mostrar la lista de aquellos cuyos date sea 2005

In [ ]:
Datos_id=Datos.set_index(Datos["date"])
Datos_id.head(2)
Datos_id.loc['2005-1-1':'2005-12-31']

16.	Ordenar en base a ID y date columnas dadas

In [ ]:
Datos.sort_values(by=['ID','date'], ascending=False)[["Status", "County"]]

17.	Crear tres hojas de datos (sheet) desde el archivo de Excel y combinarlas en un único Excel. Las tres hojas de datos son las mismas, sería triplicar el Excel.

In [ ]:
Datos_hojas = pd.concat([Datos, Datos, Datos], keys=["Hoja_1", "Hoja_2", "Hoja_3"])
Datos_hojas

18.	Dibujar un gráfico de barras comparando el año, el ID, la producción y las horas de trabajo de las primeras 10 observaciones

In [103]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# ID
Datos.head(10).plot( kind="bar", y=["ID","Labor_Hours", "Year"], x="Name")
# No entiendo lo que pide.....no se como comparar en un grafico de barra 3 variables que no estan medidas en escalas similares

19.	Dibujar un gráfico de barras de las 10 empresas con mayor producción

In [ ]:

prod_top_10=Datos.sort_values(by=['Production'], ascending=False)[["Name", "Production"]]
prod_top_10.head(10)
prod_top_10.head(10).plot( kind="bar", x="Name", y="Production")
plt.show()

# No se como cambiar la escala de produccion para que se visualicen mejor los valores.

In [135]:
prod_top_10.dtypes

Name          object
Production     int64
dtype: object